importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "axis", "par", "persp", "plot")
importFrom("stats", "ARMAtoMA", "acf", "fft", "na.omit", "na.pass",
            "nlminb", "pchisq", "pnorm", "sd", "smooth.spline")
export("block.smooth.periodogram", "Box.Ljung.Test", "fdensity", 
       "hessian", "LS.kalman", "LS.summary", "LS.whittle.loglik",
       "LS.whittle.loglik.sd", "LS.whittle.loglik.theta", "LS.whittle",
       "periodogram", "smooth.periodogram", "ts.diag")